/*
 * variables
 * --------------------
 */


// Basic Colors
// -------------------------------
$default:                         #777 !default;
$light:                           #fff !default;
$gray:                            #999 !default;
$danger:                          #dd5a43 !default;
$primary:                         #3498db !default;
//$success:                         #7DB500 !default;
$success:                         #08ad6f !default;
$info:                            #00bbee !default;
$warning:                         #ff892a !default;
$shine:                           #DDDD00 !default;
$royal:                           #8a6de9 !default;
$inverse:                         #000 !default;


$maincolor:                       #444D58 !default;
$a-color:                       #444D58 !default;
$a-color-hover:                       lighten( #444D58,10) !default;

$font-size: 12px!default;

