.mouse-cover-canvas{
  display: block!important;
  height: 360px!important;
  width: 360px!important;
  top:auto!important;
  left:auto!important;
  bottom:auto!important;
  right: auto!important;
  position: relative!important;
  border: 0!important;
}
.mouse-cover{
  width: 166.667px!important;
  height: 166.667px!important;
}